    <aside class="sidebar">
        <div>
            <div class="logo">
                Portfolio tracker
            </div>
            <nav>
                <ul>
                    <li><a href="/dashboard" class="nav-link">Dashboard</a></li>
                    <li><a href="/accounts" class="nav-link">Accounts</a></li>
                    <li><a href="/portfolios" class="nav-link">Portfolios</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="#">Skift adgangskode</a></li>
                    <li><a id="logout-button" href="#">Log ud</a></li>
                </ul>
            </nav>
        </div>
    </aside>