<%- include('../../partials/head') %>

<%- include('../../partials/navbar') %>

    <main class="flex-column">
        <header>
            <h1>accounts</h1>
            <p>Alle konti her</p>
        </header>

    </main>
<%- include('../../partials/footer') %>

<script type="module" src="/assets/js/pages/accounts.js"></script>