<%- include('../../partials/head') %>

<%- include('../../partials/navbar') %>

    <main class="flex-column">
        <header>
            <h1><%- accountID  %> - </h1>
            <p></p>
        </header>
    </main>

<%- include('../../partials/footer') %>

<script type="module" src="/assets/js/pages/account.js"></script>